@{
    ViewBag.Title = "Home Page";
}


<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">DNI</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su dni">
</div>
<button type="button" class="btn btn-outline-primary">enviar</button>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">resultado</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder=" pedro carlos ugarte cardicel" rows="3"></textarea>
</div>